<table class="bg-white text-dark table table-bordered table-responsive">
    <thead>
        <tr>
            <th>Producto</th>
            <th class="text-center">Stock</th>
            <th class="text-center">Precio</th>
            <th></th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance}">
            <td>{{product.nombre}}</td>
            <td class="text-center">
                <span class="badge bg-warning" *ngIf="product.stock==0">Sin stock</span>
            </td>
            <td class="text-center">
                {{product.precio | currency}}
            </td>
            <td><img [src]="product.image" [alt]="product.nombre" /></td>
            <td class="col-2 text-center">
                <app-input-integer [(quantity)]="product.quantity" [max]="product.stock" *ngIf="product.stock"></app-input-integer>
                <button (click)="addToCart(product)" *ngIf="product.stock" class="btn btn-primary m-2" type="button">Comprar</button>
            </td>
        </tr>
    </tbody>
</table>
